@page
    <div class="jumbotron text-center">
        <h1>Отдел учета кадров</h1>
    </div>
    <h2 class="text-info">Меню</h2>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Главное меню
        </a>
        <a href="/staff/hiring" class="list-group-item list-group-item-action">Оформление нового сотрудника</a>
        <a href="/order/orderPanel" class="list-group-item list-group-item-action">Оформление приказов</a>
        <a href="/reportCard/reportCardPanel" class="list-group-item list-group-item-action">Рабочий табель</a>
    </div>

  @*  <img src="~/mai.jpg" style="text-align:center;width:50vh;height:initial;opacity:.5"/>*@