@page
    <div class="jumbotron text-center">
        <h1>Отдел учета кадров</h1>
    </div>
<div class="container-fluid">
    <h2>Привет))0)</h2>
    <img src="~/icon.png" style="width:90%;height:400px;"/>
</div>