@page

<div class="jumbotron text-center">
    <h1>Отдел учета кадров</h1>
</div>
<form class="was-validated" action="user/LogIn">
    <div class="form-group">
        <label for="email" class="mr-sm-2">Email: </label>
        <input type="email" class="form-control mb-2 mr-sm-2" id="email">
    </div>

    <div class="form-group">
        <label for="pwd" class="mr-sm-2">Password: </label>
        <input type="password" class="form-control mb-2 mr-sm-2" id="pwd">
    </div>

    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="accept" required> I agree
            <div class="valid-feedback">Готово!</div>
            <div class="invalid-feedback">Подтвердите ваше согласие</div>
        </label>
    </div>

    <button type="submit" class="btn btn-primary mb-2">LogIn</button>
</form>
