@page
<div class="jumbotron text-center">
    <h1>Табель рабочего времени</h1>
</div>
<div class="container-fluid">
    <button type="button" class="btn btn-primary">Составить табель</button>
    <table>
    </table>
    <button type="button" class="btn btn-primary">Записать</button>
</div>
